body {
    margin: 0px;
    font-size: small;
    font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: #dae0e6;
    color: #003554;
}

a {
    text-decoration: none;
    color: #3ea7e4;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

header {
    position: relative;
    height: 70px;
    padding: 4px;
    padding-right: 0px;
    margin: 0px;
    background-color: #003554;
}

#nav_form {
    display: inline-block;
    position: absolute;
    left: 230px;
    /* left: 20%; */
    top: 24px;
    width: 35%;
    height: 30px;
    border-radius: 50px;
    background-color: white;
}

#nav_search, #nav_submit {
    /* Include padding and border in width calculations. */
    box-sizing: border-box;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
}

#nav_search {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    left: 0px;
    padding: 10px;
    width: 85%;
}

#nav_search:hover {
    background-color: #dae0e6;
}

#nav_submit {
    position: absolute;
    display: flex;
    /* Justify along horiz axis.*/
    justify-content: center;
    /* Align along vertical axis. */
    align-items: center;
    overflow: hidden;
    right: 0px;
    width: 15%;
    color: white;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #3ea7e4;
    /* background-color: #4285f4; */
}

#nav_submit:hover {
    cursor: pointer;
}

header > img {
    width: 140px;
    height: 70px;
}

header nav {
    display: inline-block;
    position: absolute;
    left: 60%;
    top: 16.5px;
    width: 30%;
}

header ul {
    display: flex;
    overflow: hidden;
    list-style-type: none;
}

header li {
    display: inline;
    margin-right: 6%;
}

header nav a {
    color: #ffffff;
    font-size: larger;
    font-weight: Bolder;
}

header nav a:hover {
    color: #dae0e6;
}

/* #user {
    color: #3ea7e4;
} */

.alert {
    margin: 0px;
}

.content {
    margin: 20px;
}

footer {
    /* margin-top: 4px; */
    padding-bottom: 5px;
    text-align: center;
}
