{% extends 'reviews/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'reviews/css/instance_form.css' %}">
{% endblock  %}

{% block title %}
{% if not instance %}
    New {{ model_type }}
{% else %}
    Editing {{ model_type }} '{{ instance }}'
{% endif %}
{% endblock %}

{% block content %}
<section class="content">
    <h2>
        {% if not instance %}New {{ model_type }}{% else %}Editing {{ model_type }} <em>"{{ instance }}</em>"{% endif %}
    </h2>
    {% if related_model_type and related_instance %}
        <p>For {{ related_model_type }} <em>"{{ related_instance }}"</em></p>
    {% endif %}

    <form method="POST" {% if is_file_upload %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <!-- "Content" is gonna be a textarea. -->
        {{ form.as_p }}
        <button type="submit">
            {% if not instance %}Create{% else %}Save{% endif %}
        </button>
    </form>
</section>
{% endblock %}
